a, a:hover {
    color: #64AA4F;
}

.nowrap {
	white-space: nowrap;
}

/* Topnav budget numbers
-------------------------------------------------- */

.navbar .masthead {
  border-radius: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  height: 110px;
  overflow: hidden;
  border-bottom: 1px solid #64A950;
}

/* Page header
-------------------------------------------------- */
.page-header {
  position: relative;
  padding-top: 120px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
.page-header h1 {
  margin-bottom: 9px;
  font-size: 44px;
  letter-spacing: -1px;
}

/* Front Page
-------------------------------------------------- */

h1.front-page {
	text-align: center;
}

.lead {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.front-page p {
  text-align: center;
}

/* Footer
-------------------------------------------------- */

.footer {
	margin-top: 40px;
	text-align: center;
}

/* Map
-------------------------------------------------- */

#map_canvas {
	height: 500px;
}
#map_legend {
	text-align: right;
}
#map_legend img {
	height: 16px;
}

#map_container .help-block img {
	height: 24px;
}

/* Form
-------------------------------------------------- */

fieldset h2, fieldset h3 {
	margin-bottom: 10px;
}

span.required_field {
	color: #9D261D;
}

input:focus,
textarea:focus {
  border-color: rgba(100, 170, 79, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

.btn.impact {
	float: left;
}

#saved_co2, #burned_calories {
	margin-bottom: 4px;
}

#burned_calories {
	margin-top: 4px;
}

fieldset.studentgroup {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}


/*






.topbar h3 a {
	padding: 18px 20px 22px;
}
.main {
	margin-top: 80px;
}
footer {
	text-align: center;
}
label {
	width: 240px;
}
div.input, div.uneditable-input, button.impact, .impact.help-block, #button_submit {
    margin-left: 260px;
}

.input textarea {
	width: 400px;
}

div.index {
	margin-left: 0;
}
select {
	margin-top: 4px;
}

.question_title {
	color: #404040;
}


.center {
	text-align: center;
	margin-top: 20px;
}

#saved_co2, #burned_calories {
	margin-top: 2px;
	font-weight: bold;
}

.input .marker {
	float: left;
    margin-right: 4px;
}

input[type="checkbox"] {
	margin-top: 9px;
}

#logo {
	float: right;
	margin-top: 2px;
	margin-bottom: 2px;
	height: 56px;
	width: 114px;
}

.chzn-select {
	width: 220px;
}

.chzn-container .chzn-results li {
    line-height: 120%;
    padding: 4px 7px 4px;
}


*/