a, a:hover {
    color: #64AA4F;
}

.nowrap {
	white-space: nowrap;
}

/* Topnav budget numbers
-------------------------------------------------- */

.navbar .masthead {
  border-radius: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  height: 110px;
  overflow: hidden;
  border-bottom: 1px solid #64A950;
}

/* Page header
-------------------------------------------------- */
.page-header {
  position: relative;
  padding-top: 120px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
.page-header h1 {
  margin-bottom: 9px;
  font-size: 44px;
  letter-spacing: -1px;
}

/* Front Page
-------------------------------------------------- */

.front-page, .thanks-page {
	text-align: center;
}

.lead {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

/* Footer
-------------------------------------------------- */

.footer {
	margin-top: 40px;
	text-align: center;
}

/* Map
-------------------------------------------------- */

#map_canvas {
	height: 500px;
}

#map_container .help-block img {
	height: 24px;
}

/* Form
-------------------------------------------------- */

fieldset h2, fieldset h3 {
	margin-bottom: 10px;
}

span.required_field {
	color: #9D261D;
}

input:focus,
textarea:focus {
  border-color: rgba(100, 170, 79, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

.btn.impact {
	float: left;
}

#saved_co2, #burned_calories {
	margin-bottom: 4px;
}

#burned_calories {
	margin-top: 4px;
}

fieldset.studentgroup {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}

/* Share buttons
-------------------------------------------------- */

.social-media {
  margin-top: 20px;
}

.social-media li {
  display: inline-block;
}


/* Responsive design
-------------------------------------------------- */

@media (max-width: 480px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  } 
  .front-page .btn {
  	margin-bottom: 10px;
  }
  .social-media li {
    display: list-item;
    margin-top: 10px;
  }
  .twitterwidget {
    padding-left: 18px;
  }
  #map_canvas {
    height: 300px;
  }
  #uvTab {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
  .social-media li {
    display: list-item;
    margin-top: 10px;
  }
  .twitterwidget {
    padding-left: 18px;
  }
  #map_canvas {
    height: 300px;
  }
  #uvTab {
    display: none !important;
  }
}


@media (min-width: 1200px) {

}