{% load i18n %}

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Organization">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | Walk/Ride Day Pledge and Check-In</title>
    <meta name="description" content="Green Streets Walk Ride Day Survey">
    <meta name="keywords" content="Boston, Metro, Planning, Education, Survey, Pedestrian, Walking, Green Streets, Walk/Ride Day">
    <meta name="author" content="MAPC">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
        
    <!-- geotags -->
    <meta name="DC.title" content="to school"> 
    <meta name="geo.placename" content="Boston">
    <meta name="geo.position" content="42.34;-71.08">
    <meta name="geo.region" content="US-MA">
    <meta name="ICBM" content="42.34;-71.08">

    <!-- facebook open graph -->
    <meta property="og:title" content="Green Streets Check-in" />
    <meta property="og:type" content="cause" />
    <meta property="og:url" content="http://gogreenstreets.org" />
    <meta property="og:image" content="http://gogreenstreets.org/sites/all/themes/vendor/theme525/images/header-banner.jpg" />
    <meta property="og:site_name" content="The Green Streets Initiative" />
    <meta property="fb:admins" content="644656520" />

    <!-- google+ -->
    <meta itemprop="name" content="Green Streets Walk/Ride Day Check-in">
    <meta itemprop="description" content="Walk/Ride Days, which occur on the last Friday of every month, encourage and inspire people everywhere to go green by walking, bicycling, and using public transit as they travel to and from work, school, or other appointments.">
    <meta itemprop="image" content="http://gogreenstreets.org/sites/all/themes/vendor/theme525/images/header-banner.jpg">
    
    {% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% endblock %}
    

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5547782-14']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    
</head>
<body>
    {% block socialmedia %}{% endblock %}

    <div class="navbar navbar-fixed-top">
        <div class="masthead">
            <div class="container">
                <a href="{% url home %}" title="Walk/Ride Day Check-in"><img src="{{ STATIC_URL }}img/header-banner.jpg" width="1000" height="100" alt="Green Streets Initiative"></a>
            </div>
            
        </div>
    </div>

    <div class="main container {{ LANGUAGE_CODE }}">

        <header class="page-header">
            <div class="row">
              <div class="span12">
                {% block pageheader %}{% endblock pageheader %}
              </div>
            </div>
        </header>
    
        {% block body %}{% endblock %}

        <footer class="footer">
            <p>
                {% trans "Questions? Please contact" %} <a class="nowrap" href="mailto:walk-ride-days@comcast.net?subject=Walk/Ride Day Check-in Question">walk-ride-days@comcast.net</a><br />
                &copy; <a href="http://www.mapc.org" title="Metropolitan Area Planning Council">MAPC</a> 2012
            </p>    
        </footer>
    
    </div>

    <!-- JavaScripts -->
    <script src="{{ STATIC_URL }}libs/jquery-1.7.1.min.js" type="text/javascript"></script>

    {% block javascript %}{% endblock %}

    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/ajT9ynIvfmkNQsPW7AQd5g.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
    
</body>
</html>